.header{
    background-color: white;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0%;
}

.header .brand{
    font-size: 60px;
    color: purple;
    font-weight: 600;
    text-transform: uppercase;
}

.header .links{
    font-size: 40px;
    font-weight: 400;
    list-style-type: none;
    display: flex;

}

.header .links>li{
    margin-right: 30px;
    text-transform: uppercase;

}


.header .links a{
    color: grey;
}

.header .links a:hover{
    color: purple;
}



